bandit-output.json
trufflehog-output.json

terraformdockerinfra/.terraform

terraformdockerinfra/.terraform.lock.hcl

terraformdockerinfra/terraform.tfstate

terraformdockerinfra/terraform.tfstate.backup